/*Common*/

@font-face {
  font-family: "semplicita.medium";
  src: url("../fonts/semplicita.medium.otf") format("opentype");
}

@font-face {
  font-family: "BaskervaldADFStd";
  src: url("../fonts/BaskervaldADFStd.otf") format("opentype");
}

body {
  background-color: var(--sqe_body_color);
  min-height: 100vh;
  min-width: 200px;

  display: flex;
  flex-direction: column;
}

nav,
footer {
  background-color: var(--sqe_main_color);
  color: #c9b99f;
  font-family: "semplicita.medium", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}
