#search_input {
    width: 180px;
    padding: 0;
    margin: 0;
  }
  
  #search_button {
    padding: 5px;
    font-size: 1em;
  }

  .search_field_and_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }


  .sorting_criterium {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .filmlist_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #search_button {
    color: black;
  }

  #search_button:visited {
      color: black;
  }

  .errorMessage {
      color: red;
      padding: 10px;
      text-align: center;
  }
  .errorMessage {
      display: none;
  }

  .search_results_section {
      display: none;
  }